{
    "apiNoBg": ["YOUR-API-KEY-HERE", "ADD-OTHER-API-KEY-HERE-FOR-MORE-LIMIT", "AND-AGAIN"],
    "apiFarzain": "YOUR-API-KEY-HERE",
    "apiItech": "YOUR-API-KEY-HERE",
    "apiLol": "YOUR-API-KEY-HERE",
    "apiGenius": "YOUR-API-KEY-HERE",
    "apiOcr": "YOUR-API-KEY-HERE",
    "saweriaOverlay": "YOUR SAWERIA OVERLAY LINK"
}